<div class="container">
    <div class="row justify-content-center mt-4">
  
      <div class="col-12 text-center">
        <h1>
          DOCUMENTO INDIVIDUAL DE ADAPTACIÓN CURRICULAR
        </h1>
      </div>
  
      <div class="col-10">
       
        <form class=" row  rounded bg-light p-2  " >
          <h3> <b>5. PROFESIONALES IMPLICADOS EN LA REALIZACIÓN DEL DOCUMENTO DE ADAPTACIÓN CURRICULAR </b> </h3>

           <!-- Button trigger modal -->
          <div class="mb-4 col-6 "> 
          <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">+ Añadir Profesores Implicados</button>
            
          </div>
            
  
            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h3 class="modal-title" id="staticBackdropLabel">Profesores:</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    
                        <div class="mb-4 col-10 "> 
                            <label for="exampleInputEmail1" class="form-label center"><b>Nombre:</b></label>
                            <input type="text" class="form-control" id="exampleInputNombre" aria-describedby="textHelp" required>
                        </div>
                        <div class="mb-4 col-10">
                            <label for="exampleInputEmail1" class="form-label center"><b>Función:</b></label>
                              <select type="text" class="form-control" id="ciudad" aria-describedby="textHelp" required>
                                <option selected>Docente de Lengua y Literatura</option>
                                <option value="1">Docente de Inglés</option>
                                <option value="2">Docente de Ciencias Naturales</option>
                                <option value="3">Docente de Educación Física</option>
                                <option value="4">Docente de Matemáticas y Proyecto Educativo</option>
                                <option value="5">Docente de Estudios Sociales</option>
                              </select>                       
                          </div>


                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-danger">Añadir</button>
                    </div>
                </div>
                </div>
            </div>

            <div class="mb-4 col-8 center">
              <table class="table center">
                <thead>
                  <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Asignación </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Lic. Celia Williams Carranza</td>
                    <td>Docente de Inglés</td>
                  </tr>
                  <tr>
                    <td>Lic. Virginia Menéndez Rivadeneira</td>
                    <td>Docente de Lengua y Literatura</td>
                  </tr>
                </tbody>
              </table>
            </div>

        <h3> <b>6. SÍNTESIS DE LA INFORMACIÓN CONTENIDA EN EL INFORME PSICOPEDAGÓGICO </b> </h3>
          
        <div class="form-floating mb-8 col-10 "> 
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 150px"></textarea>
            <label for="floatingTextarea2">Ingrese la información psicopedagógica del estudiante...</label>
        </div>

        </form>
      </div>
      <div class="col-10 text-end mt-3 py-3">
        <a href="/dashboard/estudiante/institucion/fecha-elaboracion/docentes-imp"><button class="btn btn-danger">Anterior</button></a>
        <a href="/dashboard/estudiante/institucion/fecha-elaboracion/docentes-imp/historial-personal"><button class="btn btn-danger ms-3" >siguiente</button></a>
      </div>
  
    </div>
  </div>
  