<div class="container">
    <div class="row justify-content-center mt-4">
  
      <div class="col-12 text-center">
        <h1>
          DOCUMENTO INDIVIDUAL DE ADAPTACIÓN CURRICULAR
        </h1>
      </div>
  
      <div class="col-10">
       
        <form class=" row  rounded bg-light p-2  " >
          <h3> <b>2. DATOS DE IDENTIFICACIÓN DE LA INSTITUCIÓN EDUCATIVA </b> </h3>

          <div class="mb-4 col-6 "> 
            <label for="exampleInputEmail1" class="form-label center"><b>Nombre:</b></label>
            <input type="text" class="form-control" id="nombreInst" aria-describedby="textHelp" required>
          </div>
          <div class="mb-4 col-6 ">
            <label for="exampleInputEmail1" class="form-label center"><b>Distrito No.:</b></label>
            <input type="number" class="form-control" id="distrito" aria-describedby="textHelp" required>
          </div>

          <div class="mb-4 col-6 "> 
            <label for="exampleInputEmail1" class="form-label center"><b>Dirección:</b></label>
            <input type="text" class="form-control" id="direccion" aria-describedby="textHelp" required>
          </div>
          <div class="mb-4 col-6 ">
            <label for="exampleInputEmail1" class="form-label center"><b>Localidad:</b></label>
            <input type="text" class="form-control" id="localidad" aria-describedby="textHelp" required>
          </div>  
          
          <div class="mb-4 col-6 ">
            <label for="exampleInputEmail1" class="form-label center"><b>Teléfono:</b></label>
            <input type="number" class="form-control" id="telefono" aria-describedby="textHelp" >
          </div>
          <div class="mb-4 col-6 ">
            <label for="exampleInputEmail1" class="form-label center"><b>Código Postal: </b></label>
            <input type="number" class="form-control" id="codigoPostal" aria-describedby="textHelp" required>
          </div>
         
          <div class="mb-4 col-6 "> 
            <label for="exampleInputEmail1" class="form-label center"><b>Modalidad:</b></label>
            <input type="text" class="form-control" id="modalidad" aria-describedby="textHelp" required>
          </div>
          <div class="mb-4 col-6 ">
            <label for="exampleInputEmail1" class="form-label center"><b>Tipo:</b></label>
            <input type="text" class="form-control" id="tipo" aria-describedby="textHelp" required>
          </div> 
        </form>
      </div>
      <div class="col-10 text-end mt-3 py-3">
        <button class="btn btn-danger">Cancelar</button>
        <button class="btn btn-danger ms-3" >siguiente</button>
      </div>
  
    </div>
  </div>
  