<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button (click)="toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>

    <span> APP LOGO </span>

    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
      <ul fxLayout="row" fxLayoutGap="20px">


        <li>
          <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>person_outline</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item *ngIf="getAuthUser">
              <a mat-list-item class="nav-link">
                <mat-icon>account_circle</mat-icon>{{ getAuthUser.email}}
              </a>
            </button>
            <button mat-menu-item (click)="logout()">
              <a mat-list-item class="nav-link">
                <mat-icon>exit_to_app</mat-icon>Sign out
              </a>
            </button>
          </mat-menu>

        </li>

      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
