<div class="container">
    <div class="row justify-content-center mt-4">
  
      <div class="col-12 text-center">
        <h1>
          DOCUMENTO INDIVIDUAL DE ADAPTACIÓN CURRICULAR
        </h1>
      </div>
  
      <div class="col-10">
       
        <form class=" row  rounded bg-light p-2  " >
        <h3> <b>15. METODOLOGÍA </b> </h3> 
      
        <div class="mb-4 col-12">
            <div class="form-floating mb-8  ">
                <label for="floatingTextarea2"><b></b></label>
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 90px"></textarea>
            </div> 
        </div> 
        <h3> <b>16. RECURSOS</b> </h3>
        <div class="mb-4 col-12">
            <div class="form-floating mb-8  ">
                <label for="floatingTextarea2"><b></b></label>
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 90px"></textarea>
            </div> 
        </div>
        

        </form>
      </div>
      <div class="col-10 text-end mt-3 py-3">
        <a href="/dashboard/estudiante/institucion/fecha-elaboracion/docentes-imp/historial-personal/inf-contexto/adap-curriculo"><button class="btn btn-danger">Anterior</button></a>
        <a href="/dashboard/estudiante/institucion/fecha-elaboracion/docentes-imp/historial-personal/inf-contexto/adap-curriculo/adaptacion/metodologia"><button class="btn btn-danger ms-3" >siguiente</button></a>
      </div>
  
    </div>
  </div>
  