<div class="container">
    <div class="row justify-content-center mt-4">
  
      <div class="col-12 text-center">
        <h1>
          DOCUMENTO INDIVIDUAL DE ADAPTACIÓN CURRICULAR
        </h1>
      </div>
  
      <div class="col-10">
       
        <form class=" row  rounded bg-light p-2  " >
        <h3> <b>7. DATOS Y ASPECTOS RELEVANTES DE LA HISTORIA PERSONAL DEL ESTUDIANTE </b> </h3>
      
        <div class="mb-4 col-12">
            <div class="form-floating mb-8  ">
                <label for="floatingTextarea2"><b>Datos de desarrollo:</b></label>
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 90px"></textarea>
            </div> 
        </div> 
        <br>
        <div class="mb-4 col-12">
            <div class="form-floating mb-8  ">
                <label for="floatingTextarea2"><b>Antecedentes familiares:</b></label>
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 90px"></textarea>
            </div> 
        </div>
        <br>
        <div class="mb-4 col-12">
            <div class="form-floating mb-8 ">
                <label for="floatingTextarea2"><b>Historia escolar:</b></label>
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 80px"></textarea>
            </div> 
        </div>
        <br>
        <div class="mb-4 col-6">
            <div class="form-floating mb-8  ">
                <label for="floatingTextarea2"><b>Estilos de aprendizaje: Visual. auditivo o kinestésico</b></label>
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 80px"></textarea>
            </div> 
        </div>
        <br>
        <div class="mb-4 col-6">
            <div class="form-floating mb-8 ">
                <label for="floatingTextarea2"><b>Tipos de inteligencia:</b></label>
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 80px"></textarea>
            </div> 
        </div>

        </form>
      </div>
      <div class="col-10 text-end mt-3 py-3">
        <a href="/dashboard/estudiante/institucion/fecha-elaboracion/docentes-imp/historial-personal"><button class="btn btn-danger">Anterior</button></a>
        <a href="/dashboard/estudiante/institucion/fecha-elaboracion/docentes-imp/historial-personal/inf-contexto"><button class="btn btn-danger ms-3" >siguiente</button></a>
      </div>
  
    </div>
  </div>
  