<div class="container">
    <div class="row justify-content-center mt-4">
  
      <div class="col-12 text-center">
        <h1>
          DOCUMENTO INDIVIDUAL DE ADAPTACIÓN CURRICULAR
        </h1>
      </div>
  
      <div class="col-10">
       
        <form class=" row  rounded bg-light p-2  " >
        <h3> <b>14. ADAPTACIÓN CURRICULAR</b> </h3> 
      
          <div class="mb-4 col-4 "><b>Grado:</b>
            <input type="text" class="form-control" id="paralelo" aria-describedby="textHelp" required>
          </div>
          <div class="mb-4 col-4 "><b>Ente:</b>
            <input type="text" class="form-control" id="paralelo" aria-describedby="textHelp" required>
          </div>
          <div class="mb-4 col-4 "><b>Tiempo: </b>
            <input type="text" class="form-control" id="paralelo" aria-describedby="textHelp" required>
          </div>

           <!-- Añadir materias  -->
           <div class="mb-4 col-6 ">
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">+ Añadir materia</button>
           </div>
             <!-- Modal -->
              <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                      <h3 class="modal-title" id="staticBackdropLabel">Seleccione  qqq Materia</h3>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                      
                          <div class="mb-4 col-10">
                              <label for="exampleInputEmail1" class="form-label center"><b>Función:</b></label>
                                <select type="text" class="form-control" id="ciudad" aria-describedby="textHelp" required>
                                  <option selected>Lengua y Literatura</option>
                                  <option value="1">Inglés</option>
                                  <option value="2">Ciencias Naturales</option>
                                  <option value="3">Educación Física</option>
                                  <option value="4">Matemáticas </option>
                                  <option value="5">Proyecto Educativo</option>
                                  <option value="6">Estudios Sociales</option>
                                </select>                       
                            </div>
  
                      </div>
                      <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                      <button type="button" class="btn btn-danger">Añadir</button>
                      </div>
                  </div>
                  </div>
                  </div>

              
                  <h3><b>Competencia curricular </b></h3>

                  <div class="mb-4 col-6">
                    <div class="form-floating mb-8  ">
                        <label for="floatingTextarea2"><b>¿Qué puede hacer?</b></label>
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 80px"></textarea>
                    </div> 
                   </div>
                <div class="mb-4 col-6">
                    <div class="form-floating mb-8 ">
                        <label for="floatingTextarea2"><b>¿Cómo lo hace? </b></label>
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 80px"></textarea>
                    </div> 
                </div>

                 
                <h3><b>Propuesta curricular adaptada  </b></h3>
                <p>
                    <a class="btn btn-secondary mb-4 col-12" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                        Ciencias Naturales
                    </a>
                </p>
                
                <div class="collapse " id="collapseExample">
                    <div class="card card-body  ">
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">+ Añadir Objetivo</button><br>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@fat">+ Añadir Destreza</button>
                        
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Objetivos</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>

                            <div class="mb-4 col-12 ">
                              
                              <p><input type="checkbox" name="transporte" value="1">
                              CN.2.1.2. Observar e identificar los cambios en el ciclo vital 
                                de diferentes animales (insectos, peces, anfibios, reptiles, aves y mamíferos) y
                                 compararlos con los cambios en el ciclo vital del ser humano.</p><br>
                              
                              <p><input type="checkbox" name="transporte" value="1">
                                  CN.2.1.2. Observar e identificar los cambios en el ciclo vital 
                                    de diferentes animales (insectos, peces, anfibios, reptiles, aves y mamíferos) y
                                     compararlos con los cambios en el ciclo vital del ser humano.</p><br>
                              
                                     <p><input type="checkbox" name="transporte" value="1">
                                      CN.2.1.2. Observar e identificar los cambios en el ciclo vital 
                                        de diferentes animales (insectos, peces, anfibios, reptiles, aves y mamíferos) y
                                         compararlos con los cambios en el ciclo vital del ser humano.</p><br>
                                    
                                         <p><input type="checkbox" name="transporte" value="1">
                                          CN.2.1.2. Observar e identificar los cambios en el ciclo vital 
                                            de diferentes animales (insectos, peces, anfibios, reptiles, aves y mamíferos) y
                                             compararlos con los cambios en el ciclo vital del ser humano.</p><br>
                              
                          </div>
                            
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                <button type="button" class="btn btn-primary">Añadir</button>
                            </div>
                            </div>
                        </div>
                        </div>

                      
                        <br>O.CN.2.1. Explorar y comprender los ciclos de vida y las características esenciales de las plantas y los animales, 
                        para establecer semejanzas y diferencias; clasificarlos en angiospermas o gimnospermas, vertebrados o invertebrados,
                        respectivamente, y relacionarlos con su hábitat.
                    </div>
                </div>
        </form>
      </div>
      <div class="col-10 text-end mt-3 py-3">
        <a href="/dashboard/estudiante/institucion/fecha-elaboracion/docentes-imp/historial-personal"><button class="btn btn-danger">Anterior</button></a>
        <a href="/dashboard/estudiante/institucion/fecha-elaboracion/docentes-imp/historial-personal/inf-contexto"><button class="btn btn-danger ms-3" >siguiente</button></a>
      </div>
  
    </div>
  </div>
  