<div class="container">
  <div class="row justify-content-center mt-4">

    <div class="col-12 text-center">
      <h1>
        Registro de objetivos y destrezas
      </h1>
    </div>

    <div class="col-10">
      <form class="rounded bg-light p-4">
        
        <div class="mb-4 col-4">
          <label for="exampleInputEmail1" class="form-label">Asignatura</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-4">
          <label for="exampleInputEmail1" class="form-label">Objetivos Educativos Individuales</label>
          <button class="btn btn-danger d-block mb-2">Añadir Objetivo</button>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-4">
          <label for="exampleInputPassword1" class="form-label">Destrezas con criterios de desempeño</label>
          <button class="btn btn-danger d-block  mb-2">Añadir Destreza</button>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
      </form>
    </div>
    <div class="col-10 text-end mt-4 py-5">
      <button class="btn btn-danger">Cancelar</button>
      <button class="btn btn-danger ms-3">Guardar</button>
    </div>

  </div>
</div>
