<div class="container">
    <div class="row justify-content-center mt-4">
  
      <div class="col-12 text-center">
        <h1>
          DOCUMENTO INDIVIDUAL DE ADAPTACIÓN CURRICULAR
        </h1>
      </div>
  
      <div class="col-10">
       
        <form class=" row  rounded bg-light p-2  " >
          <h3><b> 3. FECHA DE ELABORACIÓN Y DURACIÓN PREVISTA </b></h3>

          <div class="mb-4 col-4 "> 
            <label for="exampleInputEmail1" class="form-label center "><b>Fecha de elaboración: </b></label>
            <input type="date" class="form-control" id="elaboracion" aria-describedby="textHelp" required>
          </div>
          <div class="mb-4 col-4 ">
            <label for="exampleInputEmail1" class="form-label center"><b>Fecha de actualización: </b></label>
            <input type="date" class="form-control" id="actualizacion" aria-describedby="textHelp" required>
          </div>
          <div class="mb-4 col-4 ">
            <label for="exampleInputEmail1" class="form-label center"><b>Duración prevista:</b></label>
            <input type="number" class="form-control" id="prevista" aria-describedby="textHelp" required>
          </div>

          <h3><b> 4. ÁREAS / MATERIAS OBJETO DE ADAPTACIÓN CURRICULAR </b></h3>

          <div class="mb-4 col-12 ">
            <label for="exampleInputEmail1" class="form-label center"><b>Área / Materia:</b></label>
            <br>
            <input type="checkbox" name="transporte" value="1">Lengua y Literatura
            <br>
            <input type="checkbox" name="transporte" value="2" checked>Matemáticas
            <br>
            <input type="checkbox" name="transporte" value="3">Ciencias Naturales
            <br>
            <input type="checkbox" name="transporte" value="4" checked>Ciencias Sociales
            <br> 
            <input type="checkbox" name="transporte" value="5">  Educación Física
            <br>
            <input type="checkbox" name="transporte" value="6"> Inglés
            <br>
            <input type="checkbox" name="transporte" value="7" checked>Proyecto Educativo
            <br> 
            <input type="checkbox" name="transporte" value="8">  Educación Cultural y Artistica
                   
           
            
        </div>
        </form>
      </div>
      <div class="col-10 text-end mt-3 py-3">
        <a href="/dashboard/estudiante/institucion"><button class="btn btn-danger">Anterior</button></a>
        <a href="/dashboard/estudiante/institucion/fecha-elaboracion/docentes-imp"><button class="btn btn-danger ms-3" >siguiente</button></a>
      </div>
  
    </div>
  </div>