<div class="container">
    <div class="row justify-content-center mt-3">
  
      <div class="col-12 text-center">
        <h1>
          DOCUMENTO INDIVIDUAL DE ADAPTACIÓN CURRICULAR
        </h1>
      </div>
  
      <div class="col-10">
       
        <form class=" row  rounded bg-light p-2  " >
    
        <h3><b>11. IDENTIFICACIÓN DE LAS NECESIDADES EDUCATIVAS QUE MOTIVAN LA REALIZACIÓN DE LA ADAPTACIÓN CURRICULAR  </b> </h3>
            <div class="form-floating mb-8 col-10 "> 
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 98px"></textarea>
                <label for="floatingTextarea2">Ingrese la información del estudiante...</label>
            </div>
        <h3><b>12. ADAPTACIONES DE ACCESO AL CURRÍCULO Recursos técnicos ( marcar con un visto): </b></h3>
           
     
              <div class="mb-4 col-6">
              <input type="checkbox" name="transporte" value="1">Sillas de ruedas 
              <br>
              <input type="checkbox" name="transporte" value="2" >Andador, bastones, bipedestadores o similares
              <br>
              <input type="checkbox" name="transporte" value="3">Audífonos
              <br>
              <input type="checkbox" name="transporte" value="4" >Máquina de Perkins
            </div>
        
            <div class="mb-4 col-6">
              <input type="checkbox" name="transporte" value="5">Programa JAWS
              <br>
              <input type="checkbox" name="transporte" value="6"> Medios de comunicación alternativa y aumentativa
              <br>
              <input type="checkbox" name="transporte" value="7" checked>Material didáctico 
              <br> 
              <input type="checkbox" name="transporte" value="8"><b>Otros:</b>  material concreto
            </div>
            <h3><b>13. INTERVENCIÓN DE PROFESIONALES ESPECIALIZADOS SEAN INTERNOS O EXTERNOS ( marcar con un visto)</b></h3>

           
            <div class="mb-4 col-6">
            <input type="checkbox" name="transporte" value="1">Fisioterapeuta 
            <br>
            <input type="checkbox" name="transporte" value="2" checked>Enfermero/a
            <br>
            <input type="checkbox" name="transporte" value="3">Terapeuta de lenguaje
            
          </div>
      
          <div class="mb-4 col-6">
            <input type="checkbox" name="transporte" value="5">Profesor de apoyo en el aula 
            <br>
            <input type="checkbox" name="transporte" value="4" checked>Interprete de lengua de signos
            <br>
            <input type="checkbox" name="transporte" value="8"><b>Otros:</b>trabajadora social
          </div>
          

        </form>
      </div>
      <div class="col-10 text-end mt-3 py-3">
        <a href="/dashboard/estudiante/institucion/fecha-elaboracion/docentes-imp/historial-personal/inf-contexto"><button class="btn btn-danger">Anterior</button></a>
        <a href="/dashboard/estudiante/institucion/fecha-elaboracion/docentes-imp/historial-personal"><button class="btn btn-danger ms-3" >siguiente</button></a>
      </div>
  
    </div>
  </div>

