<div class="container">
    <div class="row justify-content-center mt-3">
  
      <div class="col-12 text-center">
        <h1>
          DOCUMENTO INDIVIDUAL DE ADAPTACIÓN CURRICULAR
        </h1>
      </div>
  
      <div class="col-10">
       
        <form class=" row  rounded bg-light p-2  " >
        <h3> <b>8. DATOS Y ASPECTOS IMPORTANTES DEL CONTEXTO EDUCATIVO</b> </h3>
            <div class="form-floating mb-8 col-10 "> 
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 98px"></textarea>
                <label for="floatingTextarea2">Ingrese la información del estudiante...</label>
            </div>

        <h3><b>9. DATOS Y ASPECTOS IMPORTANTES DEL CONTEXTO FAMILIAR </b> </h3>
            <div class="form-floating mb-8 col-10 "> 
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 98px"></textarea>
                <label for="floatingTextarea2">Ingrese la información del estudiante...</label>
            </div>
        <h3><b>10. DATOS Y ASPECTOS IMPORTANTES DEL CONTEXTO SOCIAL </b> </h3>
            <div class="form-floating mb-8 col-10 "> 
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 98px"></textarea>
                <label for="floatingTextarea2">Ingrese la información del estudiante...</label>
            </div>
        

        </form>
      </div>
      <div class="col-10 text-end mt-3 py-3">
        <a href="/dashboard/estudiante/institucion/fecha-elaboracion/docentes-imp/historial-personal"><button class="btn btn-danger">Anterior</button></a>
        <a href="/dashboard/estudiante/institucion/fecha-elaboracion/docentes-imp/historial-personal/inf-contexto"><button class="btn btn-danger ms-3" >siguiente</button></a>
      </div>
  
    </div>
  </div>
