<div class="container">
    <div class="row justify-content-center mt-4">
  
      <div class="col-12 text-center">
        <h1>
          DOCUMENTO INDIVIDUAL DE ADAPTACIÓN CURRICULAR
        </h1>
      </div>
  
      <div class="col-10">
       
        <form class=" row  rounded bg-light p-2  " >
          <h3><b> 1. DATOS DE IDENTIFICACIÓN DEL ESTUDIANTE </b></h3>

          <div class="mb-4 col-6 "> 
            <label for="exampleInputEmail1" class="form-label center"><b>Nombres:</b></label>
            <input type="text" class="form-control" id="exampleInputNombre" aria-describedby="textHelp" required>
          </div>
          <div class="mb-4 col-6 ">
            <label for="exampleInputEmail1" class="form-label center"><b>Apellidos:</b></label>
            <input type="text" class="form-control" id="exampleInputApellido" aria-describedby="textHelp" required>
          </div>

          <div class="mb-4 col-3 ">
            <label for="exampleInputEmail1" class="form-label center"><b>Edad:</b></label>
            <input type="number" class="form-control" id="exampleInputEdad" aria-describedby="textHelp" required>
          </div>
          <div class="mb-4 col-3 ">
            <label for="exampleInputEmail1" class="form-label center"><b>Fecha de Nacimiento:</b></label>
            <input type="date" class="form-control" id="nacimiento" aria-describedby="textHelp" required>
          </div>
          <div class="mb-4 col-3 ">
            <label for="exampleInputEmail1" class="form-label center"><b>N. de hermanos:</b></label>
            <input type="number" class="form-control" id="nHermanos" aria-describedby="textHelp" required>
          </div>
          <div class="mb-4 col-3 ">
            <label for="exampleInputEmail1" class="form-label center"><b>Lugar que ocupa:</b></label>
            <input type="number" class="form-control" id="lugarOcupa" aria-describedby="textHelp" required>
          </div>

          <div class="mb-4 col-6 "> 
            <label for="exampleInputEmail1" class="form-label center"><b>Nombre de la madre:</b></label>
            <input type="text" class="form-control" id="madres" aria-describedby="textHelp" required>
          </div>
          <div class="mb-4 col-6">
            <label for="exampleInputEmail1" class="form-label center"><b>Nombre del padre:</b></label>
            <input type="text" class="form-control" id="padre" aria-describedby="textHelp" required>
          </div>

          <div class="mb-4 col-3 "> 
            <label for="exampleInputEmail1" class="form-label center"><b>Domicilio:</b></label>
            <input type="text" class="form-control" id="domicio" aria-describedby="textHelp" required>
          </div>
          <div class="mb-4 col-3">
            <label for="exampleInputEmail1" class="form-label center"><b>Ciudad:</b></label>
              <select type="text" class="form-control" id="ciudad" aria-describedby="textHelp" required>
                <option selected>Manta</option>
                <option value="1">Guayaquil</option>
                <option value="2">Quito</option>
                <option value="3">Otra..</option>
              </select>                       
          </div>
          <div class="mb-4 col-3">
            <label for="exampleInputEmail1" class="form-label center"><b>Provincia:</b></label>
              <select type="text" class="form-control" id="provincia" aria-describedby="textHelp" required>
                <option selected>Manabí</option>
                <option value="1">Guayas</option>
                <option value="2">Los Rios</option>
                <option value="3">Otra..</option>
              </select>                       
          </div>
          <div class="mb-4 col-3 ">
            <label for="exampleInputEmail1" class="form-label center"><b>Teléfono:</b></label>
            <input type="text" class="form-control" id="telefono" aria-describedby="textHelp" required>
          </div>

          <div class="mb-4 col-3 ">
            <label for="exampleInputEmail1" class="form-label center"><b>Código postal:</b></label>
            <input type="text" class="form-control" id="codigoPostal" aria-describedby="textHelp" required>
          </div>
          <div class="mb-4 col-3 ">
            <label for="exampleInputEmail1" class="form-label center"><b>Año lectivo:</b></label>
            <input type="text" class="form-control" id="añoLectivo" aria-describedby="textHelp" required>
          </div>
          <div class="mb-4 col-3 ">
            <label for="exampleInputEmail1" class="form-label center"><b>Grado:</b></label>
            <input type="text" class="form-control" id="grado" aria-describedby="textHelp" required>
          </div>
          <div class="mb-4 col-3 ">
            <label for="exampleInputEmail1" class="form-label center"><b>Paralelo:</b></label>
            <input type="text" class="form-control" id="paralelo" aria-describedby="textHelp" required>
          </div>
         
        </form>
      </div>
      <div class="col-10 text-end mt-3 py-3">
        <button class="btn btn-danger">Cancelar</button>
        <button class="btn btn-danger ms-3" >siguiente</button>
      </div>
  
    </div>
  </div>
  