<div class="container">
    <div class="row justify-content-center mt-4">
  
      <div class="col-12 text-center">
        <h1>
            Registro  de Adaptación Curricular 
        </h1>
      </div>
  
      <div class="col-10">
       
        <form class=" row  rounded bg-light p-2  " >
          <h3> 1.Datos de identificación del estudiante. </h3>

          <div class="mb-4 col-6 "> 
            <label for="exampleInputEmail1" class="form-label center">Nombre:</label>
            <input type="text" class="form-control" id="exampleInputNombre" aria-describedby="textHelp" required>
          </div>
          <div class="mb-4 col-6 ">
            <label for="exampleInputEmail1" class="form-label center">Apellidos:</label>
            <input type="text" class="form-control" id="exampleInputApellido" aria-describedby="textHelp" required>
          </div>

          <div class="mb-4 col-3 ">
            <label for="exampleInputEmail1" class="form-label center">Edad:</label>
            <input type="number" class="form-control" id="exampleInputEdad" aria-describedby="textHelp" required>
          </div>
          <div class="mb-4 col-3 ">
            <label for="exampleInputEmail1" class="form-label center">Fecha de Nacimiento:</label>
            <input type="data" class="form-control" id="exampleInputEdad" aria-describedby="textHelp" required>
          </div>
          <div class="mb-4 col-3 ">
            <label for="exampleInputEmail1" class="form-label center">N. de hermanos:</label>
            <input type="number" class="form-control" id="exampleInputEdad" aria-describedby="textHelp" required>
          </div>
          <div class="mb-4 col-3 ">
            <label for="exampleInputEmail1" class="form-label center">Lugar que ocupa:</label>
            <input type="number" class="form-control" id="exampleInputEdad" aria-describedby="textHelp" required>
          </div>

          <div class="mb-4 col-6 "> 
            <label for="exampleInputEmail1" class="form-label center">Nombre de la madre:</label>
            <input type="text" class="form-control" id="exampleInputNombre" aria-describedby="textHelp" required>
          </div>
          <div class="mb-4 col-6">
            <label for="exampleInputEmail1" class="form-label center">Nombre del padre:</label>
            <input type="text" class="form-control" id="exampleInputApellido" aria-describedby="textHelp" required>
          </div>

          <div class="mb-4 col-3 "> 
            <label for="exampleInputEmail1" class="form-label center">Domicilio:</label>
            <input type="text" class="form-control" id="exampleInputNombre" aria-describedby="textHelp" required>
          </div>
          <div class="mb-4 col-3">
            <label for="exampleInputEmail1" class="form-label center">Ciudad:</label>
              <select type="text" class="form-control" id="exampleInputNombre" aria-describedby="textHelp" required>
                <option selected>Manta</option>
                <option value="1">Guayaquil</option>
                <option value="2">Quito</option>
                <option value="3">Otra..</option>
              </select>                       
          </div>
          <div class="mb-4 col-3">
            <label for="exampleInputEmail1" class="form-label center">Provincia:</label>
              <select type="text" class="form-control" id="exampleInputNombre" aria-describedby="textHelp" required>
                <option selected>Manabí</option>
                <option value="1">Guayas</option>
                <option value="2">Los Rios</option>
                <option value="3">Otra..</option>
              </select>                       
          </div>
          <div class="mb-4 col-3 ">
            <label for="exampleInputEmail1" class="form-label center">Teléfono:</label>
            <input type="text" class="form-control" id="exampleInputEdad" aria-describedby="textHelp" required>
          </div>

          <div class="mb-4 col-3 ">
            <label for="exampleInputEmail1" class="form-label center">Código postal:</label>
            <input type="text" class="form-control" id="exampleInputEdad" aria-describedby="textHelp" required>
          </div>
          <div class="mb-4 col-3 ">
            <label for="exampleInputEmail1" class="form-label center">Año lectivo:</label>
            <input type="text" class="form-control" id="exampleInputEdad" aria-describedby="textHelp" required>
          </div>
          <div class="mb-4 col-3 ">
            <label for="exampleInputEmail1" class="form-label center">Grado:</label>
            <input type="text" class="form-control" id="exampleInputEdad" aria-describedby="textHelp" required>
          </div>
          <div class="mb-4 col-3 ">
            <label for="exampleInputEmail1" class="form-label center">Paralelo:</label>
            <input type="text" class="form-control" id="exampleInputEdad" aria-describedby="textHelp" required>
          </div>
         
        </form>
      </div>
      <div class="col-10 text-end mt-3 py-3">
        <button class="btn btn-danger">Cancelar</button>
        <button class="btn btn-danger ms-3" >siguiente</button>
      </div>
  
    </div>
  </div>
  