<div class="container">
  <div class="row px-4 flex-column h-100">

    <div class="col-10 mt-2 mx-auto">

      <form class="row justify-content-center align-items-center">
        <div class="mb-3 col-12 col-md-4 col-lg-5">
          <label for="nombre" class="form-label">Nombres:</label>
          <input [(ngModel)]="name" type="text" class="form-control form-control-sm mb-2" id="nombre" name="nombre"
            placeholder="Ingrese nombre del estudiante">
        </div>
        <div class="mb-3 col-12 col-md-4 col-lg-5">
          <label for="apellido" class="form-label">Apellidos:</label>
          <input [(ngModel)]="lastName" type="text" class="form-control form-control-sm mb-2" id="apellido"
            name="apellido" placeholder="Ingrese apellido del estudiante">
        </div>
        <div class="col-12 col-md-4 col-lg-2">
          <button class="btn btn-primary btn-sm" type="submit" data-bs-toggle="modal"
            data-bs-target="#modalStudentSelection" (click)="fillSelectStudents()">
            Buscar
          </button>
        </div>
      </form>
    </div>

    <hr>
    <div class="col-10 mx-auto flex-grow-1">

      <div *ngIf="estudianteSeleccionado">
        <div class="row">
          <h2 class="text-center fw-bold">Datos del estudiante Seleccionado</h2>
          <div class="col-12 col-md-6 col-lg-4">
            <span class="fw-bold m-0">Nombres:</span>
            <p class="d-inline-block ps-2">{{estudianteSeleccionado?.nameStudent}}</p>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <span class="fw-bold m-0">Apellidos:</span>
            <p class="d-inline-block ps-2">{{estudianteSeleccionado?.lastNameStudent}}</p>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <span class="fw-bold m-0">Fecha de Nacimiento:</span>
            <p class="d-inline-block ps-2">{{estudianteSeleccionado?.dateOfBirth}}</p>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <span class="fw-bold m-0">Edad:</span>
            <p class="d-inline-block ps-2">{{estudianteSeleccionado?.edad}}</p>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <span class="fw-bold m-0">N° de Hermanos:</span>
            <p class="d-inline-block ps-2">{{estudianteSeleccionado?.numBrothers}}</p>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <span class="fw-bold m-0">Lugar que ocupa:</span>
            <p class="d-inline-block ps-2">{{estudianteSeleccionado?.placeOccupies}}</p>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <span class="fw-bold m-0">Padre / Tutor Legal: :</span>
            <p class="d-inline-block ps-2">{{estudianteSeleccionado?.tutor}}</p>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <span class="fw-bold m-0">Nombre del padre:</span>
            <p class="d-inline-block ps-2">{{estudianteSeleccionado?.nameFather}}</p>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <span class="fw-bold m-0">Nombre de la madre:</span>
            <p class="d-inline-block ps-2">{{estudianteSeleccionado?.nameMother}}</p>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <span class="fw-bold m-0">Dirección:</span>
            <p class="d-inline-block ps-2">{{estudianteSeleccionado?.address}}</p>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <span class="fw-bold m-0">Ciudad:</span>
            <p class="d-inline-block ps-2">{{estudianteSeleccionado?.town}}</p>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <span class="fw-bold m-0">Provincia:</span>
            <p class="d-inline-block ps-2">{{estudianteSeleccionado?.province}}</p>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <span class="fw-bold m-0">Código Postal:</span>
            <p class="d-inline-block ps-2">{{estudianteSeleccionado?.postalCode}}</p>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <span class="fw-bold m-0">Teléfono:</span>
            <p class="d-inline-block ps-2">{{estudianteSeleccionado?.phone}}</p>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <span class="fw-bold m-0">Curso:</span>
            <p class="d-inline-block ps-2">{{estudianteSeleccionado?.course}}</p>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <span class="fw-bold m-0">Paralelo:</span>
            <p class="d-inline-block ps-2">{{estudianteSeleccionado?.parallel}}</p>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <span class="fw-bold m-0">Año Lectivo:</span>
            <p class="d-inline-block ps-2">{{estudianteSeleccionado?.schoolYear}}</p>
          </div>
        </div>
      </div>

      <div *ngIf="!estudianteSeleccionado" class="alert alert-info text-center">
        No ha seleccionado ningun estudiante
      </div>

    </div>

    <div class="col-12 text-end my-3 py-3">
      <button class="btn btn-danger">Cancelar</button>
      <button class="btn btn-danger ms-3" (click)="nextPage()">siguiente</button>
    </div>

  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalStudentSelection" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="modalStudentSelection" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title m-0" id="modalStudentSelection">Seleccionar estudiante</h3>
        <button type="button" class="btn-close" id="btnCloseModal" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-0">

        <div class="text-center">
          <div class="spinner-border mt-3" role="status" id="spinner">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>

        <ul *ngIf="estudianteList.length > 0" class="list-group">
          <li class="list-group-item list-group-item-action" *ngFor="let estudiante of estudianteList"
            (click)="SelectionStudentInfo(estudiante)">
            {{estudiante.nameStudent}} {{estudiante.lastNameStudent}}
          </li>
        </ul>

        <div *ngIf="estudianteList.length === 0 && !existsSudent" class="alert alert-info px-2 mx-4 text-center mt-3">
          No existen estudiantes con ese nombre o apellido
        </div>

      </div>
    </div>
  </div>
</div>
