body::-webkit-scrollbar {
  width: 10px;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(230, 230, 230);
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #df4653;
}
